.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  font-size: 18px;
  margin: 0;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-details p.price {
  font-weight: bold;
}

.cart-item-details p.quantity {
  font-style: italic;
}

.checkout-button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #16425b; /* Match the background color of the submit button */
}

.checkout-button:hover {
  background: #3a7ca5; /* Match the hover background color of the submit button */
}
